src/main/resources/uxb-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://workbench.redbull.com"
           targetNamespace="https://workbench.redbull.com" elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="appDTO" type="appDTO"/>

    <xs:element name="categoryDTO" type="newsCategoryDTO"/>

    <xs:element name="servicenowDTO" type="serviceNowDTO"/>

    <xs:element name="newsTagDTO" type="newsTagDTO"/>

    <xs:element name="newsDTO" type="newsDTO"/>

    <xs:element name="ldapGroupDataDTO" type="ldapGroupDataDTO"/>

    <xs:element name="currencyLdapGroupDTO" type="currencyLdapGroupDTO"/>

    <xs:element name="targetGroupCombinationDTO" type="targetGroupCombinationDTO"/>

    <xs:element name="contentData" type="contentData"/>

    <xs:element name="uxbEntity" type="uxbEntity"/>

    <xs:complexType name="uxbEntity">
        <xs:sequence>
            <xs:element ref="contentData" minOccurs="0"/>
            <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string" use="required"/>
        <xs:attribute name="messageType" type="xs:string" use="required"/>
        <xs:attribute name="createTime" type="xs:long" />
    </xs:complexType>

    <xs:complexType name="contentData">
        <xs:sequence>
            <xs:element name="entries" minOccurs="0">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element ref="appDTO"/>
                            <xs:element ref="newsTagDTO"/>
                            <xs:element ref="categoryDTO"/>
                            <xs:element ref="targetGroupCombinationDTO"/>
                            <xs:element ref="newsDTO"/>
                            <xs:element ref="servicenowDTO"/>
                            <xs:element ref="ldapGroupDataDTO"/>
                            <xs:element ref="currencyLdapGroupDTO"/>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="appDTO">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="fsId" type="xs:int"/>
            <xs:element name="lastUpdatedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="type" type="xs:string" minOccurs="0"/>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="shortname" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="startpagelink" type="xs:string" minOccurs="0"/>
            <xs:element name="image" type="xs:string" minOccurs="0"/>
            <xs:element name="imageHeader" type="xs:string" minOccurs="0"/>
            <xs:element name="imageTeaser" type="xs:string" minOccurs="0"/>
            <xs:element name="imageDepartment" type="xs:string" minOccurs="0"/>
            <xs:element name="maxInstallableInstances" type="xs:int"/>
            <xs:element name="hideapp" type="xs:int"/>
            <xs:element name="version" type="xs:string" minOccurs="0"/>
            <xs:element name="contact" type="xs:string" minOccurs="0"/>
            <xs:element name="topics" type="xs:string" minOccurs="0"/>
            <xs:element name="departments" type="xs:string" minOccurs="0"/>
            <xs:element name="projects" type="xs:string" minOccurs="0"/>
            <xs:element name="geographical" type="xs:string" minOccurs="0"/>
            <xs:element name="permissions" type="xs:string" minOccurs="0"/>
            <xs:element name="permissionsSearch" type="xs:string" minOccurs="0"/>
            <xs:element name="directive" type="xs:string" minOccurs="0"/>
            <xs:element name="isFeatured" type="xs:int"/>
            <xs:element name="isDefault" type="xs:int"/>
            <xs:element name="ranking" type="xs:int"/>
            <xs:element name="servicenowid" type="xs:int" minOccurs="0"/>
            <xs:element name="servicenowdetailurl" type="xs:string" minOccurs="0"/>
            <xs:element name="serviceNow" type="serviceNowDTO" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="serviceNowDTO">
        <xs:sequence>
            <xs:element name="fsId" type="xs:int"/>
            <xs:element name="sysid" type="xs:string" minOccurs="0"/>
            <xs:element name="service_name" type="xs:string" minOccurs="0"/>
            <xs:element name="service_version" type="xs:string" minOccurs="0"/>
            <xs:element name="status" type="xs:string" minOccurs="0"/>
            <xs:element name="service_it_owner" type="xs:string" minOccurs="0"/>
            <xs:element name="business_contact" type="xs:string" minOccurs="0"/>
            <xs:element name="business_process" type="xs:string" minOccurs="0"/>
            <xs:element name="audience" type="xs:string" minOccurs="0"/>
            <xs:element name="audience_number" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="howtogetit" type="xs:string" minOccurs="0"/>
            <xs:element name="prerequisites" type="xs:string" minOccurs="0"/>
            <xs:element name="support" type="xs:string" minOccurs="0"/>
            <xs:element name="costs" type="xs:string" minOccurs="0"/>
            <xs:element name="rollout_timeline" type="xs:string" minOccurs="0"/>
            <xs:element name="devicesupport" type="xs:string" minOccurs="0"/>
            <xs:element name="browsersupport" type="xs:string" minOccurs="0"/>
            <xs:element name="languagesupport" type="xs:string" minOccurs="0"/>
            <xs:element name="ossupport" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="newsTagDTO">
        <xs:sequence>
            <xs:element name="fsId" type="xs:ID" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="newsCategoryDTO">
        <xs:sequence>
            <xs:element name="fsId" type="xs:ID" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="targetGroupCombinationDTO">
        <xs:sequence>
            <xs:element name="fsId" type="xs:ID" minOccurs="0"/>
            <xs:element name="targetgroup" type="xs:string" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="country" type="xs:string" minOccurs="0"/>
            <xs:element name="mailinglist" type="xs:string" minOccurs="0"/>
            <xs:element name="permissions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="permission" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="newsDTO">
        <xs:sequence>
            <xs:element name="fsId" type="xs:ID" minOccurs="0"/>
            <xs:element name="date" type="xs:string" minOccurs="0"/>
            <xs:element name="created" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="author" type="xs:string" minOccurs="0"/>
            <xs:element name="headline" type="xs:string" minOccurs="0"/>
            <xs:element name="shortintrotext" type="xs:string" minOccurs="0"/>
            <xs:element name="snippeturl" type="xs:string" minOccurs="0"/>
            <xs:element name="teaserimage" type="xs:string" minOccurs="0"/>
            <xs:element name="teasersquareimage" type="xs:string" minOccurs="0"/>
            <xs:element name="feedimage" type="xs:string" minOccurs="0"/>
            <xs:element name="tags" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tag" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="categories" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="category" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="targetgroup-combinations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="targetgroup-combination" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="permissions" type="targetGroupCombinationDTO" nillable="true" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="mandatory" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sendemail" type="xs:boolean" minOccurs="0"/>
            <xs:element name="eMailSent" type="xs:boolean" minOccurs="0"/>
            <xs:element name="newstype" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ldapGroupDataDTO">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="fsId" type="xs:int"/>
            <xs:element name="groupId" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="lastUpdatedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="creationDate" type="xs:string"/>
            <xs:element name="fullQualifiedName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="currencyDTO">
        <xs:sequence>
            <xs:element name="currencyCode" type="xs:string" minOccurs="0" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="currencyLdapGroupDTO">
        <xs:sequence>
            <xs:element name="currency" type="currencyDTO" minOccurs="0" nillable="false"/>
            <xs:element name="fsId" type="xs:long" minOccurs="0" nillable="false"/>
            <xs:element name="ldapGroups" type="ldapGroupDataDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

